<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Osteoporosis Disease Predictor</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Website Title -->
  <div class="container">
    <h2 class='container-heading'><span class="heading_font">Osteoporosis Risk Predictor</span></h2><br>
    <div class='description'>
      <p>A Machine Learning Web Application that predicts the risk of Osteoporosis based on health parameters. Built with Flask and deployed using Heroku.</p>
      <br>
      <p>(Note: This model is 74.49% accurate)</p>
    </div>
  </div>

  <!-- Text Area -->
  <div class="ml-container">
    <form action="{{ url_for('predict')}}" method="POST">
      <label for="Age">Age</label>
      <input type="number" id="Age" name="Age" placeholder="Your age.." required><br>

      <label for="Gender">Gender</label>
      <select id="Gender" name="Gender" required>
        <option value="" selected disabled>Choose gender...</option>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select><br>

      <label for="Hormonal_Changes">Hormonal Changes</label>
      <select id="Hormonal_Changes" name="Hormonal_Changes" required>
        <option value="" selected disabled>Choose hormonal changes...</option>
        <option value="Normal">Normal</option>
        <option value="Postmenopausal">Postmenopausal</option>
      </select><br>

      <label for="Family_History">Family History</label>
      <select id="Family_History" name="Family_History" required>
        <option value="" selected disabled>Choose family history...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><br>

      <label for="Race_Ethnicity">Race/Ethnicity</label>
      <select id="Race_Ethnicity" name="Race_Ethnicity" required>
        <option value="" selected disabled>Choose Race/Ethnicity...</option>
        <option value="Asian">Asian</option>
        <option value="Caucasian">Caucasian</option>
        <option value="African American">African American</option>
      </select><br>

      <label for="Body_Weight">Body Weight</label>
      <select id="Body_Weight" name="Body_Weight" required>
        <option value="" selected disabled>Choose body weight...</option>
        <option value="Underweight">Underweight</option>
        <option value="Normal">Normal</option>
      </select><br>

      <label for="Calcium_Intake">Calcium Intake</label>
      <select id="Calcium_Intake" name="Calcium_Intake" required>
        <option value="" selected disabled>Choose calcium intake...</option>
        <option value="Low">Low</option>
        <option value="Adequate">Adequate</option>
      </select><br>

      <label for="Vitamin_D_Intake">Vitamin D Intake</label>
      <select id="Vitamin_D_Intake" name="Vitamin_D_Intake" required>
        <option value="" selected disabled>Choose vitamin D intake...</option>
        <option value="Insufficient">Insufficient</option>
        <option value="Sufficient">Sufficient</option>
      </select><br>

      <label for="Physical_Activity">Physical Activity</label>
      <select id="Physical_Activity" name="Physical_Activity" required>
        <option value="" selected disabled>Choose physical activity...</option>
        <option value="Sedentary">Sedentary</option>
        <option value="Active">Active</option>
      </select><br>

      <label for="Smoking">Smoking</label>
      <select id="Smoking" name="Smoking" required>
        <option value="" selected disabled>Choose smoking...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><br>

      <label for="Alcohol_Consumption">Alcohol Consumption</label>
      <select id="Alcohol_Consumption" name="Alcohol_Consumption" required>
        <option value="" selected disabled>Choose alcohol consumption...</option>
        <option value="Moderate">Moderate</option>
        <option value="None">None</option>
      </select><br>

      <label for="Medical_Conditions">Medical Conditions</label>
      <select id="Medical_Conditions" name="Medical_Conditions" required>
        <option value="" selected disabled>Enter medical conditions...</option>
        <option value="Rheumatoid Arthritis">Rheumatoid Arthritis</option>
        <option value="Hyperthyroidism">Hyperthyroidism</option>
        <option value="None">None</option>
      </select><br>

      <label for="Medications">Medications</label>
      <select id="Medications" name="Medications" required>
        <option value="" selected disabled>Enter medications..</option>
        <option value="Corticosteroids">Corticosteroids</option>
        <option value="None">None</option>
      </select><br>

      <label for="Prior_Fractures">Prior Fractures</label>
      <select id="Prior_Fractures" name="Prior_Fractures" required>
        <option value="" selected disabled>Choose prior fractures...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><br>

      <input type="submit" class="my-cta-button" value="Predict">
    </form>
  </div>

  <!-- Footer -->
  <div class='footer'>
    <div class="contact">
      <a target="_blank" href="#"><i class="fab fa-github fa-lg contact-icon"></i></a>
      <a target="_blank" href="#"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
    <p class='footer-description'>Osteoporosis Risk Predictor</p>
  </div>

</body>
</html>
